#app > div > div, #app > div > span:nth-child(3) > div > span > div > div {
  width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
}

._1Wk6A ._3YewW._31v_P._2Ptrm {
  display: none;
}
